body {
    padding-top: 80px;
    background-color: darkslategray;
    font-family: 'Roboto';
    min-height: 100vh; 
    overflow-y: auto; 
    padding-bottom: 100px;
    
    
}
.custom-navbar .navbar-brand {
    color: whitesmoke;
    background-color: darkslategray;
    border-radius: 15px;
    padding: 10px;
    font-style: oblique;
}
.custom-navbar .nav-link{
    color: black;
    padding: 5px 10px;
    margin-right: 2px;
    margin-left: 2px;
    transition: color 0s ease;
  
}
.custom-navbar .nav-link.active {
  background-color: darkslategray;
  border-radius: 15px;
  padding: 5px 10px;
  color: white !important;
}
.custom-navbar {
    background-color: white;
    position: absolute;  
}
#frontpagebox {
    background-color: whitesmoke !important;
    color: black !important;
    border-radius: 30px;
}
.hpbtn{ /* Homescreen buttons + hover */
  background-color: darkslategray;
  color: white;
  border: 2px solid black; /* Make sure the border is visible */
  border-radius: 10px;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  display: inline-block; /* Ensure it behaves like a button */
  transition: transform 0.3s ease-in-out;
  cursor: pointer; /* Change cursor to pointer on hover */
}
.hpbtn:hover {
  transform: scale(1.1);
}
.navbar-toggler{
    background-color: darkslategray;
}
h1{
    font-size: 24px;
}
h2, h3{
    font-size: 16px;
}
p {
    font-size: 12px;
}
.carousel-item {
    text-align: center;
  }
  .carousel-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 4px solid #ddd;
}
.carousel-control-prev, .carousel-control-next {
  cursor: pointer;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .image-grid img {
    display: block;
    width: 300px;
    height: 150px;
    margin-top: 75px;
    transition: transform 0.3s ease-in-out;
    margin-right: auto;
    margin-left: auto;
    border: 4px solid #ddd;
    cursor: pointer;
  }
  .overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay img {
    max-width: 80%;
    max-height: 80%;
    border: 2px solid #fff;
}

.close {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.close:hover {
  transform: scale(1.3);
}
  footer {
    background-color: #f8f9fa;
    color: #333;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    
}


.fa {
    padding: 20px;
    width: 30px;
    text-align: center;
  }
  .fa-youtube {
    color: red;
    transition: transform 0.3s ease;
  }
  .fa-instagram {
  color: deeppink;
  transition: transform 0.3s ease;
  
}
.fa-youtube:hover, .fa-instagram:hover{
  transform: scale(1.2);
}
.contactdetails {
    color: black !important;
    background-color: whitesmoke !important;
    border-radius: 20px;
    padding: 10px;
    margin: 0;
    
}
.contstyle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    flex-wrap: wrap; 
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formcontact{
    text-align: center;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 20px; 
    max-width: 500px; 
    margin: 0 auto; 
}

/*Button for showing map*/
#show-google-map { 
    background-color: mediumaquamarine; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    
}
.button-container{
    text-align: center;
    margin-top: 20px;
    
}
#map-container{
    display: none;
    margin-top: 20px;
    text-align: center;
}
  .color-palette-symmetric {
    margin: 0 20px;
    padding: 8px;
    text-align: center;
}
  
  .color-btn, .color-btn2 {
    width: 35px;
    height: 35px;
    margin: 3px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    border-style: solid;
    transition: transform 0.3s;
  }
  .color-btn:hover, .color-btn2:hover {
    transform: scale(1.2);
  }
svg {
  margin: 0 20px;
}
.svg-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  background-color: darkslategray; 
  margin-left: 275px;
  margin-right: 275px;
  border-radius: 20px;
  
}
.colorbtn-palette {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text within the container */
  
  
}
.resetbtn{
  transition: transform 0.3s ease;
}
.resetbtn:hover{
  transform: scale(1.1);
}
.main-title{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}
.palvelut-text{
  background-color: whitesmoke;
  border-radius: 15px;
  color: black;
  margin: 10px;
  padding: 20px;
  display: inline-block;
}

/* COLOR TEST PAGE SCALING */
@media screen and (max-width: 768px) {
  /* Adjust margins and layout for smaller screens */
  .color-palette-symmetric {
      margin: 0 10px;
      padding: 5px;
      max-width: 100%;
  }

  .color-btn, .color-btn2 {
      width: 30px;
      height: 30px;
  }
  .svg-container {
    margin-right: 0;
    margin-left: 0;
  }


  svg {
      margin: 0 5px;
      width: 100%;
      
  }
  .main-title{
    font-size: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  /* Further adjustments for very small screens */
  .color-btn, .color-btn2 {
      width: 25px;
      height: 25px;
  }

  .color-palette-symmetric {
    margin: 0 10px;
    max-width: 100%;
}

  svg {
    margin: 0 5px;
    width: 100%;
    
}
.svg-container {
  margin-right: 0;
  margin-left: 0;
}

.main-title{
  font-size: 1.5em;
}
.navbar-brand {
  font-size: 0.90rem; /* Smaller font size */
  padding: 2px 5px;   /* Tighter padding */
  line-height: 1;     /* Adjust line height if necessary */
}
footer {
  padding: 5px 0; /* Reduce padding */
}

.fa {
  padding: 10px; /* Reduce padding */
  width: 20px; /* Reduce icon size */
}
}


  
 

  




