body {
    padding-top: 80px;
    background-color: darkslategray;
    font-family: Roboto;
    min-height: 100vh; 
    overflow-y: auto; 
    padding-bottom: 80px; 
    
    
}
.custom-navbar .navbar-brand {
    color: whitesmoke;
    background-color: darkslategray;
    border-radius: 15px;
    padding: 10px;
}
.custom-navbar .nav-link{
    color: black;
}
.custom-navbar {
    background-color: whitesmoke;
    
}
#frontpagebox {
    background-color: whitesmoke !important;
    color: black !important;
    border-radius: 30px;
}
.navbar-toggler{
    background-color: darkslategray;
}
h1{
    font-size: 24px;
}
h2, h3{
    font-size: 16px;
}
p {
    font-size: 12px;
}
.carousel-item {
    text-align: center;
  }
  .carousel-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 4px solid #ddd;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .image-grid img {
    display: block;
    width: 300px;
    height: 150px;
    margin-top: 75px;
    transition: transform 0.3s ease-in-out;
    margin-right: auto;
    margin-left: auto;
    border: 4px solid #ddd;
  }
  
 

  




