body {
    padding-top: 80px;
    background-color:#60B3D1
    
}
.custom-navbar .navbar-brand {
    color: whitesmoke;
    background-color: #60B3D1;
    border-radius: 15px;
    padding: 10px;
}
.custom-navbar .nav-link{
    color: whitesmoke;
}
.custom-navbar {
    background-color: #012641;
    
}
#frontpagebox {
    background-color: whitesmoke !important;
    color: black !important;
}
.navbar-toggler{
    background-color: #60B3D1;
}



