body {
    padding-top: 80px;
    background-color: darkslategray;
    font-family: Roboto;
    min-height: 100vh; 
    overflow-y: auto; 
    padding-bottom: 100px;
    
    
}
.custom-navbar .navbar-brand {
    color: whitesmoke;
    background-color: darkslategray;
    border-radius: 15px;
    padding: 10px;
}
.custom-navbar .nav-link{
    color: black;
    padding: 5px 10px;
    margin-right: 2px;
    margin-left: 2px;
    transition: color 0.01s ease;
  
}
.custom-navbar .nav-link.active {
  background-color: darkslategray;
  border-radius: 15px;
  padding: 5px 10px;
  color: white !important;
}
.custom-navbar {
    background-color: white;
    position: absolute;  
}
#frontpagebox {
    background-color: whitesmoke !important;
    color: black !important;
    border-radius: 30px;
}
.navbar-toggler{
    background-color: darkslategray;
}
h1{
    font-size: 24px;
}
h2, h3{
    font-size: 16px;
}
p {
    font-size: 12px;
}
.carousel-item {
    text-align: center;
  }
  .carousel-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 4px solid #ddd;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .image-grid img {
    display: block;
    width: 300px;
    height: 150px;
    margin-top: 75px;
    transition: transform 0.3s ease-in-out;
    margin-right: auto;
    margin-left: auto;
    border: 4px solid #ddd;
  }
  footer {
    background-color: #f8f9fa;
    color: #333;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    
}


.fa {
    padding: 20px;
    width: 30px;
    text-align: center;
  }
  .fa-youtube {
    color: red;
  }
  .fa-instagram {
  color: deeppink;
  
}
.contactdetails {
    font: black !important;
    background-color: whitesmoke !important;
    border-radius: 20px;
    padding: 10px;
    margin: 0;
    
}
.contstyle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    flex-wrap: wrap; 
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formcontact{
    text-align: center;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 20px; 
    max-width: 500px; 
    margin: 0 auto; 
}

/*Button for showing map*/
#show-google-map { 
    background-color: mediumaquamarine; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    
}
.button-container{
    text-align: center;
    margin-top: 20px;
    
}
#map-container{
    display: none;
    margin-top: 20px;
    text-align: center;
}
  .color-palette-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
}
  
  .color-btn, .color-btn2 {
    width: 30px;
    height: 30px;
    margin: 3px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  
  .color-btn:hover, .color-btn2:hover {
    transform: scale(1.2);
  }
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
svg {
  margin: 0 20px;
}
.main-title{
  font-size: 2.5em;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}


  
 

  




