body {
    padding-top: 70px;
    background-color:#2F2235
}
.custom-navbar .navbar-brand {
    color: white;
}
.custom-navbar .nav-link{
    color: white;
}
.custom-navbar {
    background-color:#3F3244;
}
#frontpagebox {
    background-color: #BFC3BA !important;
}
