body {
    padding-top: 80px;
    background-color:#012641
}
.custom-navbar .navbar-brand {
    color: #F4FBFD;
}
.custom-navbar .nav-link{
    color: #F4FBFD;
}
.custom-navbar {
    background-color: #60B3D1;
}
#frontpagebox {
    background-color: #F4FBFD !important;
    color: black !important;
}
.navbar-brand{
    background-color: #012641 !important;
    padding: 5px;
    border-radius: 15px;
}
